/MileStone1JavaBasics/target/
/MileStone2/target/
/DVDLibrary/target/
/Milestone3/StatelessUnitTesting/target/
/Milestone3/StatelessUnitTesting/nbproject/
/Milestone3/ClassRoster/nbproject/
/Milestone3/DVDLibrary/target/
/Milestone3/DVDLibrary/nbproject/
/Milestone3/MonstrousDaoTestingLab/nbproject/
/Milestone3/MonstrousDaoTestingLab/target/
/Milestone3/MouseIsland/target/
/Milestone3/Lesson4JavaDateTimeAPI/target/
/Milestone3/LessonBigDecimal/target/
/Milestone3/VendingMachine/target/
/Milestone3/VendingMachine/nbproject/
/Milestone4/BookTracker/target/
/Milestone4/BookTrackerWithXML/target/
/Milestone4/BookTrackerWithAnnotations/target/
/Milestone4/ClassRoster/nbproject/
/Milestone4/ClassRoster/target/
/FlooringMastery/FlooringMastery/target/
/FlooringMastery/FlooringMastery/nbproject/
/V2MileStone2/JDBCExampleStarter/target/
/V2MileStone2/JDBCTemplateExampleStarter/target/
/V2MileStone2/JDBCTComplexExampleStarter/target/
/V2MileStone2/JDBCTComplexExampleStarter/nbproject/
/V2MileStone2/JDBCTTestingExampleStarter/nbproject/
/V2MileStone2/simplerest/target/
/V2MileStone2/ViewModelExample/target/
/V2MileStone2/todoapi/target/
/V2MileStone2/ToDOAPISpringBootRESTAndJDBC/target/
/V2MileStone2/AssignmentGuessTheNumberRESTService/BullsAndCows/target/
/V2MileStone2/AssignmentGuessTheNumberRESTService/BullsAndCows/nbproject/
/V2MileStone2/ViewModelExample2/target/