<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
                http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    
    <!--linking the io class-->
    <bean id="io" class="com.sg.booktracker.ui.UserIOConsoleImpl" />
   
      
    <!--linking the io class with view-->
    <bean id="view" class="com.sg.booktracker.ui.BookView">
        <constructor-arg ref="io" />
    </bean>
    
    
    <!--linking the dao class-->
    <bean id="dao" class="com.sg.booktracker.dao.BookDaoMemoryImpl" />
    

    <!--linking the service class with dao-->
    <bean id="service" class="com.sg.booktracker.service.BookService">
        <constructor-arg ref="dao" />
    </bean>
    

    <!--passing the service and view to controller-->
    <bean id="controller" class="com.sg.booktracker.controller.BookController">
        <constructor-arg ref="service" />
        <constructor-arg ref="view" />
    </bean>



</beans>
